
@{
    ViewData["Title"] = "AccessDenied";
}
<div class="text-center">
    <div class="text-warning">
       <img class="card-img" src="~/Them/img/forbidden.png" />
    </div>
    <hr />
    <h1 class="text-danger">
        دسترسی شما به آدرس فراخوانده شده مسدود می باشد
    </h1>
</div>


