@model RSB_Ofish_System.Models.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>RegisterVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" id="registerForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repass" class="control-label"></label>
                <input asp-for="Repass" class="form-control" />
                <span asp-validation-for="Repass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<link rel="stylesheet" href="~/Them/assets/Sweetalert2/sweetalert2.min.css" />
<script src="~/Them/assets/Sweetalert2/sweetalert2.min.js"></script>
<script>

    $(function () {
        $('#registerForm').on('submit', function (e) {
            e.preventDefault();
            postData();
        });

    });

    function postData() {
        var url = $('#registerForm').attr('action');
        
        var data = $('#registerForm').serializeArray();
        var headers = { __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
        data.push({ name: "headers", value: headers });
        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function (result) {
                console.log(result);
                if (result.isSuccess == true) {
                    swal.fire(
                        result.title,
                        result.message,
                        result.status
                    ).then(function (isConfirmed) {

                        //window.location.replace("/Auth/Login")
                    });
                }
                else if (result.isSuccess == false) {
                    swal.fire(
                        result.title,
                        result.message,
                        result.status
                    ).then(function () {
                        window.location.replace("/Auth/Register");
                    });
                    
                }
            },
            error: function (err) {

            }

        });
    }
</script>
}
