@model IEnumerable<string>

    <div class="text-center">
        <ul>
            @foreach (var message in Model)
            {
                <li><h3 class="text-danger">@message</h3></li>
            }
        </ul>

    </div>
