

    <div  id="dataList">
        
    </div>




@section Scripts{ 
     
    <script>       

        function getData(pageid) {
            var url = '/home/getTodayData';
            data = { pageId: pageid };
            $.ajax({
                url: url,
                data: data,
                type: 'get',
                success: function (result) {
                    $('#dataList').html(result);
                },
                error: function (err) {

                }

            });
        }
    </script>
<script>
    $(function () {
        getData(1);
    });
</script>
<script >
    function showCard(id) {
        
        $.ajax({
            url: '/Ofish/showCard/',
            data: { Id: id },
            type: 'get',
            success: function (result) {
               //$('#myModalLabel').html('تصویر کارت ملی');
                $('#myModalBody').html(result);
                $('#myModal').modal("show");
            },
            error: function (err) {

            }


        });
    }
</script>

}