@model RSB_Ofish_System.Models.DataBaseModels.Ofish

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ofish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff" class="control-label"></label>
                <input asp-for="Staff" class="form-control" />
                <span asp-validation-for="Staff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office" class="control-label"></label>
                <input asp-for="Office" class="form-control" />
                <span asp-validation-for="Office" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationCode" class="control-label"></label>
                <input asp-for="NationCode" class="form-control" />
                <span asp-validation-for="NationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicPath" class="control-label"></label>
                <input asp-for="PicPath" class="form-control" />
                <span asp-validation-for="PicPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OffishTime" class="control-label"></label>
                <input asp-for="OffishTime" class="form-control" />
                <span asp-validation-for="OffishTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExitTime" class="control-label"></label>
                <input asp-for="ExitTime" class="form-control" />
                <span asp-validation-for="ExitTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModified" class="control-label"></label>
                <input asp-for="LastModified" class="form-control" />
                <span asp-validation-for="LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
